<div class="container">
  <div class="row cabecalho">
    <div class="col-lg-6">
      <span>CATEGORIA DE EQUIPAMENTO</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div id="headerCategoria" class="card-header">
          <strong>{{titulo}}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-row align-items-center" style="margin-bottom: 8px">
                <label class="label-msg" for="inputNome">Nome</label>
                <input [(ngModel)]="categoria.Nome" type="text" class="form-control" id="inputNome">
              </div>
              
            </div>
            <div class="col-lg-12" style="padding-left: 10px; padding-right: 10px; border-top-width: 10px;padding-top: 0px;padding-bottom: 10px;">
              <label class="label-msg" for="inputObs">Comentário</label>
              <textarea [(ngModel)]="categoria.Comentario" class="form-control" id="inputObs" rows="2"></textarea>
            </div>
          </div>

          <div class="form-row">
            <div class="w-100">
              <hr />
              <div class="float-right">
                <button id="btCancelar" class="btn btn-default" (click)="limpar()">Cancelar</button>
                <button id="btCadastrar" class="btn btn-success" (click)="registrar()">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">

      <div class="card">
        <div class="card-body">

          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Comentário</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of categorias; let i = index">
                <th scope="row">{{categoria.Id}}</th>
                <td>{{categoria.Nome}}</td>
                <td>{{categoria.Comentario}}</td>
                <td>
                  <div style="margin-bottom:-8px;margin-top:-8px" class="float-right">
                    <button type="button" (click)="carregar(i)" class="btn btn-link"><i class="fas fa-edit"></i></button>
                    <button type="button" (click)="remover(i)" class="btn btn-link"><i class="fas fa-trash-alt text-danger"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="modalErro">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-erro">
          <h5 class="modal-title">Erro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{erroDetalhe}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>