<div class="container">
  <div class="row cabecalho">
    <div class="col-lg-6">
      <span>EQUIPAMENTO</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div id="headerEquipamento" class="card-header">
          <strong>{{titulo}}</strong>
        </div>
        <div class="card-body">
          <div class="form-row align-items-center" style="margin-bottom: 8px">
            <div class="form-group">
              <label class="label-msg" for="selectTipo">Categoria</label>
              <select [(ngModel)]='equipamento.IdCategoria' class="form-control" (ngModelChange)="onChangeCategoria()" id="selectTipo">
                <option *ngFor="let categoria of categorias" [value]="categoria.Id">{{categoria.Nome}}</option>
              </select>
            </div>
          </div>
          <div class="form-row align-items-center" style="margin-bottom: 8px">
            <label class="label-msg" for="inputNome">Modelo</label>
            <input [(ngModel)]="equipamento.Modelo" type="text" class="form-control" id="inputNome">
          </div>
          <div class="form-row align-items-center" style="margin-bottom: 8px">
            <label class="label-msg" for="inputNome">Número de Série</label>
            <input [(ngModel)]="equipamento.Serie" type="text" class="form-control" id="inputNome">
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="equipamento.Disponivel" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Disponível
            </label>
          </div>
          <div class="form-row">
            <div class="w-100">
              <hr />
              <div style="margin-bottom:-8px;margin-top:-8px" class="float-right">
                <button id="btCancelar" class="btn btn-default" (click)="limpar()">Cancelar</button>
                <button id="btCadastrar" class="btn btn-success" (click)="registrar()">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">

          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Modelo</th>
                <th scope="col">Série</th>
                <th scope="col">Disponível</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equi of equipamentos; let i = index">
                <th scope="row">{{equi.Id}}</th>
                <td>{{equi.NomeCategoria}}</td>
                <td>{{equi.Modelo}}</td>
                <td>{{equi.Serie}}</td>
                <td>{{equi.TipoBoolean}}</td>
                <td></td>
                <td>
                  <div style="margin-bottom:-8px;margin-top:-8px" class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" (click)="carregar(i)" class="btn btn-link"><i class="fas fa-edit"></i></button>
                    <button type="button" (click)="remover(i)" class="btn btn-link"><i class="fas fa-trash-alt text-danger"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="modalErro">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-erro">
          <h5 class="modal-title">Erro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{erroDetalhe}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>