<div class="container">
    <div class="row cabecalho">
      <div class="col-lg-6">
        <span>LOCAL</span>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-4">
  
        <div class="card">
          <div class="card-body">
            <div class="form-row align-items-center" style="margin-bottom: 8px">
              <label class="label-msg" for="inputNome">Nome</label>
              <input [(ngModel)]="local.Nome" type="text" class="form-control" id="inputNome">
            </div>
  
            <div class="form-check">
              <input [checked]="local.Reservavel" (change)="local.Reservavel = !local.Reservavel" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Reservavel
              </label>
            </div>
  
            <div class="form-check">
              <input [checked]="local.Disponivel" (change)="local.Disponivel = !local.Disponivel" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Disponivel
              </label>
            </div>
  
            <div class="row">
              <div class="col-lg-12">
                <div class="form-row align-items-center" style="margin-bottom: 8px">
                  <div class="form-group">
                    <label class="label-msg" for="selectTipo">Tipo</label>
                    <select [(ngModel)]="local.Tipo" class="form-control" id="selectTipo">
                      <option value='1'>Laboratório</option>
                      <option value='2'>Sala</option>
                      <option value='3'>Auditório</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="form-row">
              <div class="w-100">
                <hr />
                <button id="btCancelar" class="btn btn-default" (click)="limpar()">Cancelar</button>
                <button id="btCadastrar" class="btn btn-success" (click)="registrar()">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
  
        <div class="card">
          <div class="card-body">
  
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Reservavel</th>
                  <th scope="col">Disponivel</th>
                  <th scope="col">Tipo</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Sala 31</td>
                  <td>Sim</td>
                  <td>Não</td>
                  <td>Laboratório</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary btn-sm">X</button>
                      <button type="button" class="btn btn-danger btn-sm">X</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Sala 41</td>
                  <td>Não</td>
                  <td>Sim</td>
                  <td>Sala</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary btn-sm">X</button>
                      <button type="button" class="btn btn-danger btn-sm">X</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
  
          </div>
        </div>
      </div>
    </div>
  </div>