<br>
<div class="container">
  <div class="row cabecalho">
    <div class="col-lg-6">
      <span>RELATÓRIO DE RESERVAS</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <label class="label-msg" for="inputDataDe">De</label>
              <ng-template #t let-date="date">
                {{ date.day }}
              </ng-template>
              <input [(ngModel)]="ngbDateDe" (click)="d1.toggle()" type="text" ngbDatepicker #d1="ngbDatepicker" class="form-control"
                id="inputDataDe" placeholder="">
            </div>
            <div class="col-lg-6">
              <label class="label-msg" for="inputHorarioDe"></label>
              <select [(ngModel)]='horarioDe' class="form-control" id="selectHorarioDe">
                <option value='1'>Manhã AB</option>
                <option value='2'>Manhã CD</option>
                <option value='3'>Manhã EF</option>
                <option value='4'>Tarde AB</option>
                <option value='5'>Tarde CD</option>
                <option value='6'>Tarde EF</option>
                <option value='7'>Noite AB</option>
                <option value='8'>Noite CD</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label class="label-msg" for="inputDataAte">Ate</label>
              <ng-template #t let-date="date">
                {{ date.day }}
              </ng-template>
              <input [(ngModel)]="ngbDateAte" (click)="d2.toggle()" type="text" ngbDatepicker #d2="ngbDatepicker" class="form-control"
                id="inputDataAte" placeholder="">
            </div>
            <div class="col-lg-6">
              <label class="label-msg" for="inputHorarioAte"></label>
              <select [(ngModel)]='horarioAte' class="form-control" id="selectHorarioAte">
                <option value='1'>Manhã AB</option>
                <option value='2'>Manhã CD</option>
                <option value='3'>Manhã EF</option>
                <option value='4'>Tarde AB</option>
                <option value='5'>Tarde CD</option>
                <option value='6'>Tarde EF</option>
                <option value='7'>Noite AB</option>
                <option value='8'>Noite CD</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <label class="label-msg">Tipo de Reserva</label><br>
              <input type="radio" [(ngModel)]="tipo" [value]="1"> Laboratórios<br>
              <input type="radio" [(ngModel)]="tipo" [value]="2"> Equipamentos<br>
              <input type="radio" [(ngModel)]="tipo" [value]="3"> Local ou equipamento específico
            </div>
          </div>
          <div class="row" *ngIf="tipo==3">
            <div class="col-lg-12">
              <label class="label-msg" for="selectLocalFiltro">Local</label>
              <select [(ngModel)]='idLocalFiltro' class="form-control" id="selectLocalFiltro">
                <option *ngFor="let local of locaisFiltro" [value]="local.Id">{{local.Nome}}</option>
              </select>
            </div>
          </div>
          <div class="row" *ngIf="tipo==3">
            <div class="col-lg-12">
              <label class="label-msg" for="selectEquipFiltro">Equipamento</label>
              <select [(ngModel)]='idCategoriaFiltro' class="form-control" id="selectEquipFiltro">
                <option *ngFor="let equip of categoriasFiltro" [value]="equip.Id">{{equip.Nome}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <label class="label-msg" for="inputObsDetalhe">Observação contém:</label>
              <input type="text" [(ngModel)]="obsFiltro" class="form-control" id="inputObsDetalhe">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button id="btCancelar" class="btn btn-default btn-sm" (click)="limparFiltro()">Limpar</button>
            <button id="btCadastrar" class="btn btn-success btn-sm" (click)="filtrar()">Filtrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div id="reservasParaImprimir" class="card-body">
          <div class="spinner" *ngIf="spinnerReservas"><i class="fa fa-spinner fa-spin"></i> Consultando
            reservas...</div>
          <table class="table table-hover table-sm">
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Horário</th>
              <th scope="col">Local</th>
              <th scope="col">Equipamento</th>
              <th scope="col">Usuário</th>
              <th scope="col">Observações</th>
            </tr>
            <tr *ngFor="let reserva of reservas; let i = index">
              <td>{{reserva.Data}}</td>
              <td>{{reserva.TurnoExtenso}} {{reserva.Horario}}</td>
              <td>{{reserva.NomeLocal}}</td>
              <td>{{reserva.Equipamentos}}</td>
              <td>{{reserva.NomeUsuario}}</td>
              <td>{{reserva.Obs}}</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-lg-8">
              <span class="label-msg">{{descricaoFiltro}}</span>
            </div>
            <div class="col-lg-4">
              <div class="float-right">
                <button id="btCadastrar" class="btn btn-success btn-sm" (click)="imprimir()">Imprimir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="modalErro">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-erro">
          <h5 class="modal-title">Erro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{erroDetalhe}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>