<div class="container">
        <div class="row cabecalho">
          <div class="col-lg-6">
            <span>CATEGORIA DE EQUIPAMENTO</span>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-4">
      
            <div class="card">
              <div class="card-body">
      
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-row align-items-center" style="margin-bottom: 8px">
                      <label class="label-msg" for="inputNome">Nome</label>
                      <input type="text" class="form-control" id="inputNome">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                        <div class="w-100">
                          <hr />
                          <button id="btAutenticar" class="btn btn-success float-right">Cadastrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>